body {
	font-family: 'Work Sans', sans-serif;
	background-color: var(--background-light);
	font-weight: 300;
	color: var(--text);
}

* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
	font-family: 'Source Serif 4', serif;
	width: 100%;
}

p {
	margin: 0;
}
